@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --colors-whop-stroke: 232,232,232;
}

.border-whop-stroke {
    --tw-border-opacity: 1;
    border-color: rgba(var(--colors-whop-stroke),var(--tw-border-opacity)) !important;
}

