@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --colors-whop-stroke: 232,232,232;
}

.border-whop-stroke {
    --tw-border-opacity: 1;
    border-color: rgba(var(--colors-whop-stroke),var(--tw-border-opacity)) !important;
}

html {
    font-family: "Inter", sans-serif;
    background-color: #f8f8f8;
  }
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .font-100 {
    font-weight: 100;
  }
  .font-200 {
    font-weight: 200;
  }
  .font-300 {
    font-weight: 300;
  }
  .font-400 {
    font-weight: 400;
  }
  .font-500 {
    font-weight: 500;
  }
  .font-600 {
    font-weight: 600;
  }
  .font-700 {
    font-weight: 700;
  }
  .font-800 {
    font-weight: 800;
  }
  .font-900 {
    font-weight: 900;
  }
  .container-x {
    @apply md:px-6 px-2 w-full;
    max-width: 1216px !important;
  }

  .red-btn {
    @apply w-full text-[13px] font-semibold bg-[#db1436] flex justify-center items-center h-full;
    line-height: 0;
  }
  .gray-btn {
    align-items: center;
    background: #f0f1f3;
    display: flex;
    font-size: .875rem;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25rem;
  }

.animate-right-dir {
    animation: rightDir 1s infinite;
  }
  @keyframes rightDir {
    0%,
    100% {
      transform: translatex(-25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: none;
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }

  

  .border-qgray-border {
    --tw-border-opacity: 1;
    border-color: rgb(239 239 239/var(--tw-border-opacity));
  }

  .text-qblack {
    --tw-text-opacity: 1;
    color: rgb(34 34 34/var(--tw-text-opacity));
  } 
  
  .font-medium {
    font-weight: 600;
  }

  .text-qred {
    --tw-text-opacity: 1;
    color: rgb(239 38 44/var(--tw-text-opacity));
  }

  .text-qgray {
    --tw-text-opacity: 1;
    color: rgb(121 121 121/var(--tw-text-opacity));
  } 

  .text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .black-btn {
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    background-color: rgb(34 34 34/var(--tw-bg-opacity));
    color: rgb(255 255 255/var(--tw-text-opacity));
  }

  .overflow-y-scroll {
    overflow-y: scroll;
  }

  .cart-wrappwer {
    --tw-border-opacity: 1;
    border-color: rgb(219 20 54/var(--tw-border-opacity))
  }

  .scrollable::-webkit-scrollbar {
    width: 3px;
  }
  
  .scrollable::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
  }
  
  .scrollable::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .bg-whop-black {
    --tw-bg-opacity: 1;
    background-color: rgba(var(--colors-whop-black),var(--tw-bg-opacity));
}